<h1>Abuela Sorda</h1>

<form action="/abuela_dice" method='post'>
  <label for="di_algo_abuela">Di algo Abuela</label><br>
  <input type="text" name="abuela_dijo">
  <input type="submit" value="Dilo!">
</form>